/* consent box */
.elao-consent {
  --default-elao-consent-primary: var(--elao-consent-primary, #007bff);
  --default-elao-consent-primary-dark: var(--elao-consent-primary-dark, #256cdf);
  --default-elao-consent-secondary: var(--elao-consent-secondary, #dfebfa);
  --default-elao-consent-secondary-dark: var(--elao-consent-secondary-dark, #cadef8);
  --default-elao-consent-danger: var(--elao-consent-danger, #ef4055);
  --default-elao-consent-neutral: var(--elao-consent-neutral, #eae8e8);
  --default-elao-consent-light: var(--elao-consent-light, #fff);
  --default-elao-consent-dark: var(--elao-consent-dark, #252525);

  padding-top: 20px;
  width: 420px;
  height: auto;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

  max-height: calc(100vh - 20px);
  overflow: auto;

  color: var(--default-elao-consent-dark);
  background-color: var(--default-elao-consent-light);
  border: none;
  border-radius: 4px;
  z-index: 2147483647;
}

.elao-consent a {
  color: var(--default-elao-consent-primary);
  font-weight: bold;
  text-decoration: underline;
}

.elao-consent button {
  padding: 7px 25px;
  color: var(--default-elao-consent-light);
  font-weight: bold;
  background: var(--default-elao-consent-primary);
  border: none;
  border-radius: 5px;
}

.elao-consent .message {
  padding: 0 20px;
  margin-bottom: 12px;
}

.elao-consent__details summary {
  margin: 0 20px;
  padding-right: 30px;
  display: inline-block;
  position: relative;
  color: var(--default-elao-consent-primary);
  font-weight: bold;
  text-decoration: underline;
  list-style: none;
}

.elao-consent__details summary:before {
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 30px;
  content: '🍪';
  line-height: 1;
}

.elao-consent__details ul {
  padding: 20px 40px 0;
}

.elao-consent__details ul {
  list-style: none;
}

.elao-consent__details ul li {
  margin: 0 0 4px;
  display: flex;
  align-items: center;
}

.elao-consent__details ul li .choice {
  display: flex;
  margin-left:  auto;
}

.elao-consent__details[open] {
  margin-bottom: 0;
}

.elao-consent__details[open] + .elao-consent__actions {
  display: none;
}

.elao-consent__actions {
  margin: 15px 0 0;
  display: flex;
}

.elao-consent__actions button {
  flex: 1;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-top: 1px solid #F1F1F1;
  border-radius: 0;
  transition: background ease-in .2s;
}

.elao-consent__actions button:first-of-type {
  border-radius: 0 0 0 15px;
}

.elao-consent__actions button:last-of-type {
  border-radius: 0;
}

.elao-consent__actions button:only-of-type {
  border-radius: 0 0 15px 15px;
}

.elao-consent__actions button.reject-all {
  background: var(--default-elao-consent-light);
  color: var(--default-elao-consent-primary);
  font-size: 16px;
}

.elao-consent__actions button.reject-all:hover,
.elao-consent__actions button.reject-all:active,
.elao-consent__actions button.reject-all:focus {
  background: var(--default-elao-consent-secondary-dark);
}

.elao-consent__actions button.accept-all {
  color: var(--default-elao-consent-light);
  background: var(--default-elao-consent-primary);
  font-size: 16px;
}

.elao-consent__actions button.accept-all:hover,
.elao-consent__actions button.accept-all:active,
.elao-consent__actions button.accept-all:focus {
  background: var(--default-elao-consent-primary-dark);
}

@media (max-width: 650px) {
  .elao-consent {
    width: calc(100% - 20px);
    flex-wrap: wrap;
  }

  .elao-consent__details ul li {
    margin: 0 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .elao-consent__details ul li > div {
    margin: 10px 0 0;
    width: 100%;
  }
}

/* Radio button  */
.radio-button label {
  margin: 0;
  padding: 5px 0;
  min-width: 90px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background: var(--default-elao-consent-neutral);
  color: var(--default-elao-consent-dark);
  cursor: pointer;
}

.radio-button:first-of-type label {
  border-right: solid 2px var(--default-elao-consent-light);
  border-radius: 5px 0 0 5px;
}

.radio-button:last-of-type label {
  border-left: solid 2px var(--default-elao-consent-light);
  border-radius: 0 5px 5px 0;
}

.radio-button input {
  display: none;
}

.radio-button--accept input:checked + label {
  color: var(--default-elao-consent-light);
  background: var(--default-elao-consent-primary);
  font-weight: bold;
}

.radio-button--reject input:checked + label {
  color: var(--default-elao-consent-light);
  background: var(--default-elao-consent-danger);
  font-weight: bold;
}

@media ( max-width: 650px ) {
  .radio-button {
    width: 50%;
  }

  .radio-button label {
    width: 100%;
  }
}
